@tailwind base;
@tailwind components;
@tailwind utilities;

$desktop: 1024px;

@mixin default-gap {
  gap: var(--gap, 1rem);
}

@mixin flex {
  display: flex;
  @include default-gap;
}

@mixin grid {
  display: grid;
  @include default-gap;
}

section {
  transform-style: preserve-3d;
}

body {
  padding: 0;
  background: var(--dark-bg);
  font-size: var(--fs-400);
  color: white;
  // padding: 20vw 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--clr-primary);
}

.text-accent {
  color: var(--clr-secondary);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  padding: 0rem 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.grid--columns {
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(20rem, 1fr) minmax(40rem, 2fr);
  grid-auto-flow: column;
}


.top-container {
  perspective: 30rem;
  position: relative;

  @media screen and (min-width: $desktop) {
    perspective: 100rem;
  }
}

.profile-container {
  padding: 1rem;
  background: linear-gradient(
    90deg,
    hsl(255 50% 0% / 0.8) 75%,
    hsl(255 50% 50% / 0)
  );
  box-shadow: rgba(255, 255, 255, 0.01) 0px 1px 2px,
    rgba(255, 255, 255, 0.01) 0px 2px 4px, rgba(255, 255, 255, 0.01) 0px 4px 8px,
    rgba(255, 255, 255, 0.01) 0px 8px 16px,
    rgba(255, 255, 255, 0.01) 0px 16px 32px,
    rgba(255, 255, 255, 0.01) 0px 32px 64px;
  border-radius: 10px;
}

// .transition-3s {
//   transition: all .3s ease-in-out;
// }

.techs-container {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  position: relative;
  z-index: -1;
  // height: 30rem;
  align-self: center;
  @media screen and (min-width: $desktop) {
    @include grid;
    justify-content: unset;
    align-items: unset;
    width: 45rem;
    left: min(calc(1000px - 100vw) * -1, 0px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    transform-origin: left;
    transform: rotateY(-40deg);
  }
}

.techs-container {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    background-color: var(--card-bg);
    overflow: hidden;
    > img {
      object-fit: cover;
      max-height: 80%;
      max-width: 80%;
    }
  }
}

.techs-container > a:hover,
.techs-container > a:focus-visible {
  @extend .highlight-shadow;
}

.techs-container > :nth-child(1),
.techs-container > :nth-child(6),
.techs-container > :nth-child(7),
.techs-container > :nth-child(13) {
  grid-row: span 3;
}

.techs-container > :nth-child(7) {
  grid-row: 4 / span 3;
}

.techs-container > :nth-child(5),
.techs-container > :nth-child(8) {
  grid-row: span 4;
}

.techs-container > :nth-child(2),
.techs-container > :nth-child(3),
.techs-container > :nth-child(4),
.techs-container > :nth-child(10),
.techs-container > :nth-child(11),
.techs-container > :nth-child(12) {
  grid-row: span 2;
}

.techs-container > :nth-child(10) {
  grid-row: 5 / span 2;
  grid-column: 3 / span 1;
}

.techs-container > :nth-child(11) {
  grid-row: 5 / span 2;
  grid-column: 4 / span 1;
}

.techs-container > :nth-child(12) {
  grid-row: 5 / span 2;
  grid-column: 5 / span 1;
}

.techs-container > :nth-child(9) {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.card-repository {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: var(--card-bg);
}

.category-tag {
  
}

.--gap-25 {
  --gap: 0.25rem;
}
.tech-container {
  --gap: .3rem;
}

.tech-item {
  background-color: var(--card-light-bg);
  // color: #FFF;
}

.card-description {
  // flex: 1;
}

.overview-repository-card {
  background-color: var(--card-bg);
  --opacity: 10%;
}

.overview-repo-container {
  --scroll-margin-y: 0;
  --scroll-margin-x: 3rem;
}

@layer utilities{
  .flex {
    @include flex;
  }
  
  .grid {
    @include grid;
  }

  @mixin bg-color ($color) {
    background-color: $color;
  }

  .tech-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    background-color: var(--card-bg);
    overflow: hidden;
    img {
      object-fit: cover;
      max-height: 80%;
      max-width: 80%;
    }
  }

  .highlight-shadow {
    box-shadow: 0 0 1.5rem hsl(0 0% 100% / 0.8) !important;
  }

  .text-neon {
    text-shadow:
      0 0 7px rgba(255, 255, 255, .5),
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      /* 0 0 92px #0fa, */
      /* 0 0 102px #0fa, */
      /* 0 0 151px #0fa; */
  }

  .shadow-box-tab {
    box-shadow:
    0 0 10px rgb(0, 225, 255),
    0 0 21px rgb(0, 247, 255),
    0 0 42px rgba(0, 217, 255, 0.37),
    0 0 82px rgb(255, 255, 255),
  }
  .shadow-box-tab-hover {
    box-shadow:
    0 0 10px rgba(0, 225, 255, .2),
    0 0 21px rgba(0, 247, 255, .2),
    0 0 42px rgba(0, 217, 255, 0.3),
    0 0 82px rgba(255, 255, 255, .5),
  }
}